<?xml version="1.0" encoding="utf-8"?>
<!-- Created By: Vinay Verma, SaffronStays -->
<!-- this is the most important file of app which links all resources of app to each others -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vinayapphost3.apphost3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".ViewListing" />
        <activity android:name=".TabAll" />
        <!--
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <service
            android:name=".PushNotification"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
